fastapi[standard]
uvicorn
bcrypt==4.0.1
SQLAlchemy
python-dotenv
passlib[bcrypt]
psycopg2-binary
python-jose[cryptography]
cryptography
google-auth
httpx
dotenv
requests
dependency-injector
firebase-admin
apscheduler
pytest
